<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhe.blog.mapper.ArticleTagRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangzhe.blog.entity.ArticleTagRelation">
        <id column="id" property="id" />
        <result column="tag_id" property="tagId" />
        <result column="article_id" property="articleId" />
    </resultMap>

</mapper>
